
#navegacao {
	 background: #80ffff;
	 }
.titulo{

	color: #ff3300;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-shadow: 10px 10px 20px rgba(230, 46, 0,1);

	
	}

	.titulo2{
	border-radius: 5px 2px;
	color: #000099;
	
	
	}
